.App {
  text-align: center;
  padding: 50px;
}
.use-state {
  display: flex;
  gap: 30px;
  width: 100%;
}
.app-content{
  margin: 0 auto;
  text-align: center;
}
.use-state>div{
  flex: 1;
}
pre {
  text-align: initial;
  font-size: 18px;
}
button {
  padding: 5px;
  margin: 5px;
}