.App {
  text-align: center;
  padding: 50px;
}
.use-state {
  display: flex;
  gap: 30px;
  width: 100%;
}
.app-content{
  margin: 0 auto;
  text-align: center;
}
.use-state>div{
  flex: 1;
}
pre {
  text-align: initial;
  font-size: 18px;
}
button {
  padding: 5px;
  margin: 5px;
}
.comp-wrapper{
  display: flex;
}
.d-flex{
  display: flex;
  gap: 50px;
}
.comp-div{
  max-width: 400px;
  border: 1px solid black;
  padding: 0 20px 20px 20px;
  margin: 20px;
  /* max-height: 400px; */
  /* overflow: auto; */
}
.sticky {
  position: sticky;
  top: 10px;
  background: white;
  padding: 5px;
}
.div {
  text-align: left;
}
label {
  display: block;
}